

.form__labelText {
    width: 100px;
    max-width: 150px;
    display: inline-block;
}

.form__button {
    width: 100%;
    background-color: #6093ac;
    color: #f3eded;
    padding: 5px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #79a4b9;
}

.form__button:active {
    background-color: #91b4c5;
}

.form__fieldset {
   margin-top: 40px;
   border-radius: 7px;
}

.form__legend {
    background-color: #6093ac;
    color: #f3eded;
    padding: 10px;
    border-radius: 7px;
}

