html {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

.tlo {
  border-end-end-radius: 50%;
  border-end-start-radius: 50%;
  box-shadow: 0 0 7vw #a0d8b3;
  background: #a2a378;
  background: url(https://th.bing.com/th/id/OIG2.klFxld0zErzjoYb78L6s?pid=ImgGn)
    no-repeat center/106%;
}

.color {
  background-color: #252e33;
  border-radius: 7px;
  color: #f3eded;
}