html {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

.tlo {
  background-image: url("../images/tlo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  background-color: #6093ac;
  border-radius: 7px;
}